<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>책 가방 </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/4-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">http://www.flaticon.com/icon/124743</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">멋쟁이 대겸처럼 책가방</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">책가방</a>
                    </li>
                    <li>
                        <a href="https://board-likelion-jiyeong.c9users.io/home/what">질문하기</a>
                    </li>
                    <li>
                        <a href="#">likelion</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row" style="margin-top:50px";>
            <div class="col-lg-12">
                <h1 class="page-header">구매하기
                    <small>최신 추전작</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style:"margin-top:50px">
            <h3>편집장 추천 도서</h3>
            <div class="col-md-3 portfolio-item">
                <a href="https://board-likelion-jiyeong.c9users.io/home/where">
                    <img  src="http://postfiles15.naver.net/20160507_126/rudgns1689_1462622493574mT5PH_PNG/%B9%CC%BF%F2.png?type=w2" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img src="http://postfiles6.naver.net/20160507_245/rudgns1689_1462622494738sHgSe_PNG/%BE%F6%B8%B61.png?type=w2" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img src="http://postfiles12.naver.net/20160507_43/rudgns1689_1462622495288cS4bE_PNG/%C1%A63%C0%CE%B7%F9.png?type=w2" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img src="http://postfiles3.naver.net/20160507_178/rudgns1689_1462622497412jgl1k_PNG/%C8%B8%BB%F3%B1%E2.png?type=w2" class="img-responsive" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style:"margin-top:50px";>
            <h3>Best Seller</h3>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img src="http://postfiles16.naver.net/20160507_287/rudgns1689_1462622491916h9wLA_JPEG/%B0%ED%B1%B8%B7%C11.jpg?type=w2" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img src="http://postfiles14.naver.net/20160507_61/rudgns1689_1462622492448xUqSp_JPEG/%B3%AA%B9%CC%BE%DF.jpg?type=w2" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img src="http://postfiles16.naver.net/20160507_111/rudgns1689_1462622494202Cig3q_JPEG/%BA%D3%C0%BA%BC%D5%B0%A1%B6%F4.jpg?type=w2" class="img-responsive" alt="" width="70%";>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img src="http://postfiles11.naver.net/20160507_74/rudgns1689_1462622493720YAvSm_JPEG/%BA%D2%C2%FC.jpg?type=w2" class="img-responsive" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" style="margin-top:50px";>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img src="http://postfiles5.naver.net/20160507_260/rudgns1689_1462622494400lBxoT_JPEG/%BD%CE%B5%E5.jpg?type=w2" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img src="http://postfiles12.naver.net/20160507_43/rudgns1689_1462622494938Ju2sy_JPEG/%C0%AF%BC%BA%C0%C7%C0%CE%BF%AC.jpg?type=w2" class="img-responsive" alt="" width="70%";>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img src="http://postfiles1.naver.net/20160507_288/rudgns1689_1462622496368akjlB_JPEG/%C3%B5%BB%E7%C0%C7_%BA%CE%B8%A7.jpg?type=w2" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img src="http://postfiles13.naver.net/20160507_188/rudgns1689_1462622496748wl6zS_JPEG/%C8%A3%C5%DA.jpg?type=w2" class="img-responsive" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="home/index">1</a>
                    </li>
                    <li>
                        <a href="home/page">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>since 2016.5 </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
